# Use a switch as filament runnout sensor
# Use a swithc for manual unload filament

# Need [virtual_sdcard] and PAUSE macro in mainsail.cfg

[respond]
default_type: echo

[delayed_gcode clear_display]
gcode:
  M117 # clear display message


# needed for manual filament load/unload
[force_move]
enable_force_move: True


##################################################
# Macro Manual Load/Unload Filament with a switch
##################################################

[gcode_button fil_load]
pin: PA11 # PIN switch to load filament
release_gcode:
  {% if (printer.print_stats.state != "printing")%}
     filament_load     
  {% else %}
     M117 Printing, can't load now!
     M118 Printing, can't load now!
  {% endif %}
press_gcode: # do not add macro here

[gcode_button fil_unload]
pin: PA10 # PIN switch to unload filament
release_gcode:
  {% if (printer.print_stats.state != "printing")%}
     filament_unload     
  {% else %}
     M117 Printing, can't unload now!
     M118 Printing, can't unload now!
  {% endif %}
press_gcode: # do not add macro here



########################################
# Filament runnout sensor with a switch
########################################

[gcode_button fil_runnout]
pin: PA9 ######## PIN FILAMENT SENSOR SWITCH ########
press_gcode: # FILAMENT NOT DETECTED
  {% if (printer.print_stats.state == "printing") %}  
    filament_change_state1   
  {% endif %} 
  UPDATE_DELAYED_GCODE ID=clear_loadbusy DURATION=2
  UPDATE_DELAYED_GCODE ID=clear_unloadbusy DURATION=2    
  SET_GCODE_VARIABLE MACRO=filament_unload VARIABLE=filamentpresent VALUE=0

release_gcode: # Macro when reload filament, switch pressed after runnout
  {% if (printer.print_stats.state != "printing") %}
    filament_load
  {% else %}
    M117 Printing! Can't load filament right now!
    M118 Printing! Can't load filament right now! 
    UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
  {% endif %} 
  SET_GCODE_VARIABLE MACRO=filament_unload VARIABLE=filamentpresent VALUE=1
  UPDATE_DELAYED_GCODE ID=clear_changebusy DURATION=2
  
 # PAUSE and ALERT
[gcode_macro filament_change_state1]
variable_changebusy: 0
gcode:
  {% if changebusy == 0 %}
    PAUSE
    SET_GCODE_VARIABLE MACRO=filament_change_state1 VARIABLE=changebusy VALUE=1
    M118 Filament runnout!
    M117 Filament runnout!
    filament_change_state2   # comment this to avoid automatically unload filament when runnout detected.
  {% else %}
  {% endif %}

[delayed_gcode clear_changebusy]
gcode:
  SET_GCODE_VARIABLE MACRO=filament_change_state1 VARIABLE=changebusy VALUE=0
  # M118 Clear Load busy!

# BEEP, ALERT, HEAT and UNLOAD FILAMENT
[gcode_macro filament_change_state2]
gcode:
    SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=1    
    #M300 # Your BEEPER macro
    M118 Unloading filament...
    M117 Unloading filament...
    M83
    G92 E0  
  
  # {% if printer[printer.toolhead.extruder].temperature < 240 %}
	# CHECK or SET minimum extrusion temperature
    {% if (printer.extruder.can_extrude|lower != 'true') or (printer.extruder.target == 0) %}
      M118 Hotend heating!  
      M109 S240 T0 ###### set temperature to 240 #####
    {% endif %}
  
    G0 E-5 F3600 	#extract filament to cold end
    G4 P2000 # wait for two seconds
    G0 E4.5 F3600 # push the filament back 
    G0 E-5 F3600 	#extract filament to cold end
    G0 E-60 F300	# continue extraction slow allow filament to be cooled enough before reaches the gears  
    M400
    M117 Load new filament, then resume.
    M118 Load new filament, then resume.
    #SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=0
    UPDATE_DELAYED_GCODE ID=clear_loadbusy DURATION=2.5 # wait to remove filament before reload
  

########################################
# Filament load
########################################

[gcode_macro filament_load]
variable_loadbusy: 0
gcode:    
    {% if loadbusy == 0 %}
      SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=1
      SET_GCODE_VARIABLE MACRO=filament_unload VARIABLE=unloadbusy VALUE=1
	  
	  # CHECK or SET minimum extrusion temperature
      {% if printer.extruder.can_extrude|lower != 'true' %}
        M104 S235 T0 # set temp and wait.
      {% endif %}
	  
      #M300 # Your BEEPER macro
      M117 Filament loading!    
      M118 Filament loading!  
      M82           # extruder absolute movement
      G92 E0		  # extruder start from 0
      G4 P2000        # wait in ms
      FORCE_MOVE STEPPER=extruder DISTANCE=15 VELOCITY=5 ACCEL=1000
	
	  # CHECK or SET minimum extrusion temperature
      {% if printer.extruder.can_extrude|lower != 'true' %}
        M118 Hotend heating!  
        M109 S240 T0 ###### set temperature to 240 #####
      {% endif %}
	
      G1 E150 F300 # extrude 150mm   
      M400
	
      {% if (printer.print_stats.state != "printing") and (printer.print_stats.state != "paused")%} 
        M104 S0 T0 # Cooldown if not printing or paused
      {% endif %}  
	
      M117 Filament loaded!    
      M118 Filament loaded!   
      UPDATE_DELAYED_GCODE ID=clear_display DURATION=10
      UPDATE_DELAYED_GCODE ID=clear_unloadbusy DURATION=2   
    {% else %}
      M118 Filament already loaded!    
    {% endif %}  


[delayed_gcode set_loadbusy]
gcode:
  SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=1
  #M118 Set Load busy! 


[delayed_gcode clear_loadbusy]
gcode:
  SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=0
  #M118 Clear Load busy! 

########################################
# Filament unload
########################################

[gcode_macro filament_unload]
variable_unloadbusy: 0
variable_filamentpresent: 0
gcode:
    #{% if unloadbusy == 0 and filamentpresent == 1 %}
    {% if unloadbusy == 0 %}
      SET_GCODE_VARIABLE MACRO=filament_unload VARIABLE=unloadbusy VALUE=1
      SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=1
      #M300 # Your BEEPER macro
      M118 Filament unloading!
      M117 Filament unloading!  
      M83
      G92 E0 
	  
	  # CHECK or SET minimum extrusion temperature
      {% if (printer.extruder.can_extrude|lower != 'true') or (printer.extruder.target == 0)%}
        M118 Hotend heating!  
        M109 S240 T0 ###### set temperature to 240 ##### 
      {% endif %}
	  
      G0 E-5 F3600 	# move 5mm of filament to a cold zone
      G4 P2000 # wait 2s
      G0 E4.5 F3600 # extrude a bit
      G0 E-5 F3600 	# retract again
      G0 E-60 F300	# retract slowly to cool  
      M104 S0 T0    # Cooldown
      M400
      M118 Filament unloaded!
      M117 Filament unloaded! 
	  
      #SET_GCODE_VARIABLE MACRO=filament_load VARIABLE=loadbusy VALUE=0
      UPDATE_DELAYED_GCODE ID=clear_display DURATION=10            
    {% else %}      
      M118 Already unloaded!
    {% endif %}
	
	
[delayed_gcode clear_unloadbusy]
gcode:
  SET_GCODE_VARIABLE MACRO=filament_unload VARIABLE=unloadbusy VALUE=0
  #M118 Clear Unload busy! 
